﻿@{
    ViewData["Title"] = "Home Page";
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <div class="item active">
            <img src="~/images/images.png" alt="ASP.NET" class="img-responsive" />
         
        </div>
        <div class="item">
            <img src="~/images/ASP-NET-Banners-01.png" alt="Visual Studio" class="img-responsive" />
            
            </div>
        </div>
        
        </div>
  

