@model IEnumerable<DataVamshinath.Models.Jobs>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.JobName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.eventLocation)
        </th>
        <th>
            Event Name
        </th>
    </tr>
    
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.JobName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.eventLocation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Location.Place)
        </td>
        <td>
            <a asp-action="Edit" asp-route-id="@item.jobId">Edit</a> |
            <a asp-action="Details" asp-route-id="@item.jobId">Details</a> |
            <a asp-action="Delete" asp-route-id="@item.jobId">Delete</a>
        </td>
    </tr>
}
</table>
